.Board {
  margin: 1rem auto;
  width: 100%;
  height: 60vh;
  min-height: 400px;
  padding: 1rem;
  justify-content: center;
}

.NotesList {
  margin: 4rem auto;
  padding: 0.5rem;
  height: 100%;
  overflow: scroll;
  scrollbar-width: none;
  overflow-x: hidden;
}
