.Wall {
  background-color: #ffffff;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1rem;
  justify-content: center;
}
.WallNav {
  padding: 2rem;
}
.Wrapped{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Notifications {
  margin: 0 auto;
  width: 20%;
}