.Wall {
  background-color: #ffffff71;
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.5rem;
  justify-content: center;
  max-width: 2000px;
  min-width: 365px;
}
.WallNav {
  padding: 1rem;
}
.Wrapped {
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
}
.Notifications {
  margin: 0 auto;
  width: 20%;
}
